html {
	position: relative;
	min-height: 100%;
  }

body {
	color: rgba(255, 255, 255, 0.8);;
	font-family: 'Roboto', sans-serif;
	background: #14131A url(../img/background2.jpg) 100%;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	background-attachment: fixed;
	min-height: 100%;
}

.container {
	max-width: 1140px;
	margin: auto;
}

.header {
	display: flex;
	align-items: center;
	padding-top: 40px;
	margin-bottom: 80px;
	max-width: 100%;
}

.logo-link {
	display: inline-block;
	padding-right: 50px;
}

.nav_menu {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	background-color:rgba(0, 0, 0, 0.6);
	border-radius: 10px;
}

.nav_menu-item {
	margin-right: 30px;
}

.nav_menu-link {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.5);

}

.discription {
	text-align: center;
	font-size: 42px;
	line-height: 300%;
	color: rgba(255, 255, 255, 0.945);
}

.hero-discription {
	max-width: 423px;
	font-size: 16px;
	line-height: 140%;
	color: rgba(255, 255, 255, 0.8);
}

.button-group {
	margin-top: 70px;
}

.btn {
    display: inline-flex;
    margin: 10px;
    text-decoration: none;
    position: relative;
    font-size: 20px;
    line-height: 20px;
    padding: 12px 30px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase; 
    font-family: 'Roboto', Тahoma, sans-serif;
    background: #337AB7;
    cursor: pointer; 
    border: 2px solid #BFE2FF;
}
.btn:hover,
.btn:active,
.btn:focus {
    color: #FFF;
}
.btn:after,
.btn:before {
    position: absolute;
    height: 4px;
    left: 50%;
    background: #337AB7;
    bottom: -6px;
    content: "";
    transition: all 280ms ease-in-out;
    width: 0;
}
.btn:before {
    top: -6px;
}
.btn:hover:after,
.btn:hover:before,
.btn:active:after,
.btn:active:before,
.btn:focus:after,
.btn:focus:before {
    width: 100%;
    left: 0;
}

.hide_btn {
	display: none;
}

.content_main {
	background-color:rgba(0, 0, 0, 0.6);
	border-radius: 10px;
	padding-right: 2%;
	padding-left: 2%;
}

.content {
	display: flex;
	background-color:rgba(46, 45, 45, 0.8)
}

.content-title {
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	color: rgba(255, 255, 255, 0.8);
	margin-bottom: 21px;
	margin-top: 0;
}

.content-text {
	font-weight: normal;
	font-size: 16px;
	line-height: 140%;
	color: rgba(255, 255, 255, 0.8);
	max-width: 423px;
	margin-bottom: 30px;
}

.list-item {
	line-height: 1.5;
}

.content-subtitle {
	font-weight: bold;
	font-size: 16px;
	line-height: 140%;
	color: rgba(255, 255, 255, 0.8);
	margin-bottom: 15px;
	margin-top: 0;
}

.content, .list {
	list-style-type: none;
	padding: 0;
}

.form {
	display: inline-block;
	padding-right: 5px;
}

.name_of_programm {
	display: inline-block;
	padding: auto;
	max-width: 100%;
}

ul {
	list-style-type: none;
}

.day {
	display: inline-block;
  	width: 25%;
}


@media screen and (max-width: 44em) {
	body {
	  margin:1.5em 0;      
	}
	  
	  ul {
		padding:0 .5em;    
	  }
	  
	  ul > li {
		width:100%;
		padding:.45em .25em;
		margin:0 0 .55em 0;
	  
	  }
	}